@import "general";
// div{
//     background-color:$back-color;
//     h1{
//         color: $text-color;
//         text-align: center;

//     }
//     p.c1{
//         text-align: justify;
//         width: 50%;
//         margin: 10px auto;
//         padding: 30px;
//     }
//     .buttons{
//         display: flex;
//         justify-content: space-around;
//     }
// }
.form-control{
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 30px;
    padding: 10px;
    margin: 10px;
    display: flex;
    p{
        padding-left:100px;
    }
}